* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Google Fonts */
    --font_montserrat: "Montserrat", sans-serif;
    --font_playfair: "Playfair Display", serif;
    /* Colors */
    --color_black: #000000;
    --color_gray_second: #4f4f4f;
    --color_gray_firs: #333333;
    --color_orange: #f2994a;
    --color_gray_ligth: #bdbdbd;
    --color_gray_footer: #828282;
    --color_white: #ffffff;
    --color_grey_points: #c4c4c4;
}

/* Header Start */
body {
    padding: 30px 0 15px 0;
}

.header,
.aside,
.main {
    padding: 0 20px;
}

.title {
    font-family: var(--font_playfair);
    font-weight: 700;
    font-size: 26px;
}

.container_points_paragraph {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.icon_points {
    color: var(--color_grey_points);
}

.paragraph {
    font-family: var(--font_montserrat);
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
    color: var(--color_gray_second);
}

/* Header End */
/* Nav Start */
.nav_img {
    margin-top: 30px;
}

.img {
    width: 100%;
}

/* Nav End */
/* Aside Start */
.aside {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
}

.container_order_utensils,
.container_order_children {
    display: flex;
    gap: 10px;
    align-items: center;
}

.container_order_items {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_utensils,
.text_order_bottom_orange {
    color: var(--color_orange);
}

.icon_utensils,
.fa-clock {
    font-size: 1.1em;
}

.names_order {
    display: flex;
    flex-direction: column;
}

.text_order_top {
    color: var(--color_gray_ligth);
    font-family: var(--font_montserrat);
    font-weight: 500;
    font-size: 12px;
}

.text_order_bottom {
    font-family: var(--font_montserrat);
    font-weight: 500;
    font-size: 14px;
}

/* Aside End */
/* Main Start */
.title_main {
    font-family: var(--font_playfair);
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 25px;
}

.text_check {
    font-family: var(--font_montserrat);
    font-weight: 400;
    font-size: 14px;
}

.text_check_other {
    font-family: var(--font_montserrat);
    font-weight: 400;
    font-style: italic;
}

.container_checkbox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container_cheesecake {
    margin-top: 25px;
}

.title_cracker,
.title_cheesecake {
    font-family: var(--font_playfair);
    font-weight: 400;
    font-style: italic;
    font-size: 17px;
    margin-bottom: 25px;
}

.weight {
    font-weight: 500;
}

.list_numbers {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: var(--font_montserrat);
    font-weight: 400;
    font-size: 14px;
    margin-left: 20px;
}

.item::marker {
    color: var(--color_orange);
    font-family: var(--font_playfair);
    font-size: 24px;
    font-weight: bold;
}

.source_footer {
    color: var(--color_gray_ligth);
    font-family: var(--font_montserrat);
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    margin-top: 30px;
}
/* Main End */
/* Footer Start */
.footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: var(--font_montserrat);
    font-weight: 500;
    font-size: 14px;
    color: var(--color_gray_footer);
}

.line_page {
    text-decoration: underline;
    font-weight: 700;
}